*.iml
.idea/
.gradle/
local.properties
/build/
app/build/
captures/
.externalNativeBuild/
.cxx/
.DS_Store
Thumbs.db
**/build/
!gradle-wrapper.jar
*.log
*.apk
*.ap_
*.dex
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/caches
*.jks
*.keystore
